@{
    ViewData["Title"] = "Privacy Statement";
}
<h2>@ViewData["Title"]</h2>


Your privacy is important to us.
We don't collect any personal data from you through our interactions with you.
This chat app is only for testing purpose.

